<div class="outer">
  <form [formGroup]="regService.regForm" (ngSubmit)="regService.onSubmitForm()">
    <p>first name</p>
    <input type="text" formControlName="userFirstName" placeholder="first name">
    <p>last name</p>
    <input type="text" formControlName="userLastName" placeholder="last name">
    <p>email</p>
    <input type="text" formControlName="userEmail" placeholder="email">
    <p>password</p>
    <input type="password" formControlName="userPassword" placeholder="password">
    <p>repeat password</p>
    <input type="password" formControlName="userRepeated" placeholder="repeat password">
    <br/>
    <input type="submit" name="submit">
    <input type="reset" name="reset">
  </form>
</div>
