<div class="outer">
  <form [formGroup]="regService.regForm" (ngSubmit)="regService.onSubmitForm()">

    <p>first name</p>
    <input
      formControlName="userFirstName" required
      type="text"
      placeholder="first name">

    <p>last name</p>
    <input
      formControlName="userLastName" required
      type="text"
      placeholder="last name">

    <p>email</p>
    <input
      formControlName="userEmail" required
      type="text"
      placeholder="email">

    <p>password</p>
    <input
      formControlName="userPassword" required
      type="password"
      placeholder="password">

    <p>repeat password</p>
    <input
      formControlName="userRepeated" required
      type="password"
      placeholder="repeat password">
    <br/>
    <input [disabled]="regService.regForm.invalid" type="submit" name="submit">
    <input type="reset" name="reset">
  </form>
</div>
